language: go
before_install:
  - go get -u github.com/golang/dep/...
  - go get github.com/mitchellh/gox
  - dep ensure
script:
  - go test ./...
after_success:
  - gox
    -osarch "linux/386 linux/amd64 darwin/amd64"
    -output="dist/{{.Dir}}_{{.OS}}_{{.Arch}}"
  - cd dist ; for f in *; do tar zcvf $f.tgz $f; done; cd -
  - ls -l dist
deploy:
  provider: releases
  api_key: "${GITHUB_API_KEY}"
  file:
    - dist/gally_linux_386.tgz
    - dist/gally_linux_amd64.tgz
    - dist/gally_darwin_amd64.tgz
  skip_cleanup: true
  on:
    tags: true
